black==24.1.0
isort==5.13.2
evaluate>=0.4.0
httpx==0.23.3
jsonlines
numexpr
pybind11>=2.6.2
pytablewriter
sqlitedict==2.1.0
ftfy
opencv-python-headless
hf_transfer
nltk
pycocoevalcap
tqdm-multiprocess
transformers==4.39.2
transformers-stream-generator
zstandard
openpyxl
hf_transfer
tenacity==8.3.0
tiktoken
pre-commit
zss
protobuf==3.20